#bgvideo {
    position: fixed;
    top: 0;
    margin-left: 50%;
    transform: translate(-50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 50%;
    z-index: 0;
}

.footer {
    z-index: 1;
}

#all-but-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    /* background: rgb(18, 0, 0);
	background: linear-gradient(
		150deg,
		rgba(18, 0, 0, 1) 0%,
		rgba(42, 5, 28, 1) 39%,
		rgba(41, 4, 4, 1) 50%,
		rgba(42, 5, 28, 1) 61%,
		rgba(18, 1, 11, 1) 100%
	); */
}

.team-member {
    text-align: center;
    background: rgb(2, 0, 36);
    padding: 0px;
    background: linear-gradient(60deg, rgba(0, 0, 0, 1) 0%, rgba(27, 22, 22, 1) 50%, rgba(0, 0, 0, 1) 100%);
    /* border-radius: 40px 5px 2px 5px; */
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2.2vw 0.1vw 2.2vw 0.1vw;
    transition: transform 0.7s, border-radius 0.7s, background-color 0.7s, box-shadow 0.5s;
    padding-bottom: 10px;
}

.team-member:hover {
    border-radius: 2px 5px 40px 5px;
    box-shadow: 2px 2px 40px 1px #d6661b;
    transform: scale(1.05);
}

.team-member img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-radius: 40px 5px 0px 0px; */
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
    margin: auto;
    transition: border-radius 1s;
}

.team-member img:hover {
    border-radius: 2px 5px 0px 0px;
}

.team-member h2 {
    margin: 0px;
    font-size: 20px;
    color: #ffffff;
    font-family: "poppins";
    padding-top: 10px;
    padding-bottom: 0px;
}

.team-member p {
    margin: 0 auto;
    color: #a1aeba;
    font-family: "Fira Sans", sans-serif;
    padding: 0;
    width: 90%;
    text-wrap: wrap;
}

.team-member a {
    color: rgb(255, 255, 255);
}

#postnew {
    color: #fff;
}

.team-member>.team-socials {
    margin-top: 10px;
}

.team-member>.team-socials a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

.team-header {
    margin: auto;
    margin-top: 90px;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.team-header p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
}

.teams-header {
    margin: auto;
    margin-top: 90px;
    font-size: 40px;
    font-family: "poppins";
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

#team-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li>a {
    color: inherit;
    text-decoration: none;
}

.header {
    height: 89px;
    /*background-color: #1b1b32;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: url("headerbg.png");
    position: sticky;
}

.header>p {
    color: #ffffff;
    font-size: min(12vw, 2.4em);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

main {
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 576px) {
    .team-member img {
        height: 200px;
        /* border-radius: none; */
    }
    .team-member>.team-socials a {
        font-size: 18px;
        margin: 0 7px;
    }
    .team-member>p {
        margin-top: 7px;
        margin-bottom: 10px;
    }
}